name: Tag Latest

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  tag_latest:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Tag Latest
        uses: EndBug/latest-tag@latest
        with:
          ref: latest

