name: Tag Latest

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  tag_latest:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Tag Latest
        uses: EndBug/latest-tag@latest
        with:
          ref: latest
          force-branch: true

